<a href="https://colab.research.google.com/github/programmermahi/Machine-Learning-Lab/blob/main/dataprocessing_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

# Load the dataset
data = pd.read_csv('/content/synthetic_employee_data.csv')

In [14]:
print(data.head())
print(data.info())
print(data.describe())

  Employee_ID Employee_Name    Age      Salary  Years_at_Company  \
0      E00001   Alex Miller  150.0  2000000.00              29.0
1      E00002    Alex Smith  200.0  1500000.00              37.0
2      E00003   Jane Garcia    5.0  1200000.00               3.0
3      E00004   Emily Brown  200.0    23118.19              42.0
4      E00005    Mike Jones  150.0    20852.42              33.0

   Number_of_Projects  Performance_Score  Is_Manager  Works_Remotely  \
0                 2.0                3.0           0             0.0
1                 7.0                3.0           0             0.0
2                 3.0                3.0           0             0.0
3                 7.0                3.0           1             0.0
4                 2.0                5.0           0             0.0

    Department Education_Level Location                   Hire_Date
0    marketing             PHD   AUSTIN  2023-11-02 20:17:14.115619
1  Engineering      Highschool   BOSTON  2024-11-21 20:17:14.115619
2        Sales             PHD   AUSTIN  2022-11-30 20:17:14.115619
3           it      HIGHSCHOOL   Boston  2024-01-04 20:17:14.115619
4    Marketing      HIGHSCHOOL  SEATTLE  2018-05-11 20:17:14.115619
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Employee_ID         1000 non-null   object
 1   Employee_Name       1000 non-null   object
 2   Age                 970 non-null    float64
 3   Salary              960 non-null    float64
 4   Years_at_Company    940 non-null    float64
 5   Number_of_Projects  975 non-null    float64
 6   Performance_Score   980 non-null    float64
 7   Is_Manager          1000 non-null   int64
 8   Works_Remotely      975 non-null    float64
 9   Department          970 non-null    object
 10  Education_Level     975 non-null    object
 11  Location            980 non-null    object
 12  Hire_Date           970 non-null    object
dtypes: float64(6), int64(1), object(6)
memory usage: 101.7+ KB
None
              Age        Salary  Years_at_Company  Number_of_Projects  \
count  970.000000  9.600000e+02        940.000000          975.000000
mean    40.769072  2.943139e+04         10.202128            4.006154
std     15.501599  8.897510e+04          4.241586            2.048178
min      1.000000  3.882700e+03          0.000000            0.000000
25%     32.000000  1.555051e+04          8.000000            3.000000
50%     40.000000  2.212029e+04         10.000000            4.000000
75%     48.000000  3.065962e+04         13.000000            5.000000
max    200.000000  2.000000e+06         42.000000           12.000000

       Performance_Score   Is_Manager  Works_Remotely
count         980.000000  1000.000000      975.000000
mean            2.990816     0.207000        0.304615
std             1.120392     0.405358        0.460481
min             1.000000     0.000000        0.000000
25%             2.000000     0.000000        0.000000
50%             3.000000     0.000000        0.000000
75%             4.000000     0.000000        1.000000
max             5.000000     1.000000        1.000000

In [25]:
# Check for missing values
missing_values = data.isnull().sum()
print(missing_values)

Employee_ID            0
Employee_Name          0
Age                    0
Salary                 0
Years_at_Company       0
Number_of_Projects     0
Performance_Score      0
Is_Manager             0
Works_Remotely         0
Department            30
Education_Level       25
Location              20
Hire_Date             30
dtype: int64

In [32]:
# Check for missing values
missing_values = data.isnull().sum()
print(missing_values)

Employee_ID            0
Employee_Name          0
Age                    0
Salary                 0
Years_at_Company       0
Number_of_Projects     0
Performance_Score      0
Is_Manager             0
Works_Remotely         0
Department            30
Education_Level       25
Location              20
Hire_Date             30
dtype: int64

In [35]:
# Drop rows with missing values
data.dropna(inplace=True)
# Check for missing values
missing_values = data.isnull().sum()
print(missing_values)

Employee_ID           0
Employee_Name         0
Age                   0
Salary                0
Years_at_Company      0
Number_of_Projects    0
Performance_Score     0
Is_Manager            0
Works_Remotely        0
Department            0
Education_Level       0
Location              0
Hire_Date             0
dtype: int64

In [37]:
# One-hot encoding for categorical variables
data = pd.get_dummies(data, drop_first=True)

In [38]:
# One-hot encoding for categorical variables
data = pd.get_dummies(data, drop_first=True)

In [43]:
from sklearn.model_selection import train_test_split

# Define features (X) and target (y)
# Assuming 'Salary' is the target variable
X = data.drop('Salary', axis=1)
y = data['Salary']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (720, 1792)
X_test shape: (181, 1792)
y_train shape: (720,)
y_test shape: (181,)

In [44]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# Scale the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

print("X_train_scaled shape:", X_train_scaled.shape)
print("X_test_scaled shape:", X_test_scaled.shape)

X_train_scaled shape: (720, 1792)
X_test_scaled shape: (181, 1792)