<a href="https://colab.research.google.com/github/programmermahi/Machine-Learning-Lab/blob/main/task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import pandas as pd

# Load a sample dataset (you can replace this with pd.read_csv('your_file.csv'))
df = pd.read_csv('/content/train.csv')

# Display original dataset with nulls
print("Original Data (with nulls):")
print(df[['age', 'embarked', 'sex']].head(10))

# ---------- STEP 1: Impute Nulls in Numeric Columns ----------
# Fill NaN in 'age' using average of previous and next values
def impute_avg_prev_next(series):
    for i in range(1, len(series) - 1):
        if pd.isnull(series[i]):
            if not pd.isnull(series[i-1]) and not pd.isnull(series[i+1]):
                series[i] = (series[i-1] + series[i+1]) / 2
    return series

df['age'] = impute_avg_prev_next(df['age'])

# ---------- STEP 2: One-Hot Encoding of Categorical Columns ----------
# Fill any missing categorical value temporarily for encoding
df['embarked'].fillna('Unknown', inplace=True)

# Convert categorical columns to numeric using one-hot encoding
df_encoded = pd.get_dummies(df, columns=['sex', 'embarked'], drop_first=True)

# ---------- Output ----------
print("\nImputed and Encoded Data:")
print(df_encoded[['age', 'sex_male', 'embarked_Q', 'embarked_S']].head(10))

Original Data (with nulls):

KeyError: "None of [Index(['age', 'embarked', 'sex'], dtype='object')] are in the [columns]"

In [ ]:
import pandas as pd
import numpy as np

# Creating a dummy DataFrame of 15 numbers randomly
# ranging from 1−100 for age
df = pd.DataFrame({'Age': [42, 15, 67, 55, 1, 29, 75, 89,4,
10, 15, 38, 22, 77]})

# Printing DataFrame Before sorting Continuous
 # to Categories

print("Before sorting Continuous to Categories:")
print(df)
print("\n")
 # A column of name ’Label’ is created in DataFrame
 # Categorizing Age into 4 Categories
 # Baby/Toddler: (0,3], 0 is excluded & 3 is included
 # Child: (3,17], 3 is excluded & 17 is included
 # Adult: (17,63], 17 is excluded & 63 is included
 # Elderly: (63,99], 63 is excluded & 99 is included
df['Label'] = pd.cut(x=df['Age'], bins=[0, 3, 17, 63, 99],
labels=['Baby/Toddler','Child', 'Adult','Elderly'])

 # Printing DataFrame after sorting Continuous to
 # Categories
print(df)

# Check the number of values in each bin
print("Categories: ")
print(df['Label'].value_counts())

Before sorting Continuous to Categories:
    Age
0    42
1    15
2    67
3    55
4     1
5    29
6    75
7    89
8     4
9    10
10   15
11   38
12   22
13   77


    Age         Label
0    42         Adult
1    15         Child
2    67       Elderly
3    55         Adult
4     1  Baby/Toddler
5    29         Adult
6    75       Elderly
7    89       Elderly
8     4         Child
9    10         Child
10   15         Child
11   38         Adult
12   22         Adult
13   77       Elderly
Categories:
Label
Adult           5
Child           4
Elderly         4
Baby/Toddler    1
Name: count, dtype: int64

Before sorting Continuous to Categories:
    Age
0    42
1    15
2    67
3    55
4     1
5    29
6    75
7    89
8     4
9    10
10   15
11   38
12   22
13   77


    Age         Label
0    42         Adult
1    15         Child
2    67       Elderly
3    55         Adult
4     1  Baby/Toddler
5    29         Adult
6    75       Elderly
7    89       Elderly
8     4         Child
9    10         Child
10   15         Child
11   38         Adult
12   22         Adult
13   77       Elderly
Categories:
Label
Adult           5
Child           4
Elderly         4
Baby/Toddler    1
Name: count, dtype: int64